<section class="pt-7 pb-0">
  <div class="container-fluid pt-3 pt-xl-5">
    <div class="row">
      <div class="col-xxl-11 mx-auto">
        <div
          class="card bg-parallax h-300px h-md-400px h-xl-500px overflow-hidden"
          style="
            background: url(assets/images/bg/04.jpg) no-repeat;
            background-size: cover;
            background-position: center;
          "
        >
          <!-- background dark overlay -->
          <div class="bg-overlay bg-dark bg-opacity-50"></div>
          <!-- Title -->
          <div
            class="card-img-overlay d-flex align-items-center justify-content-center text-center z-index-2"
          >
            <h3 class="display-6 text-white text-wrap">
              Galerie Équinox 9 : quand l’architecture devient art
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row g-4 filter-container mt-3">
      <!-- Item -->
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g1.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g2.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g3.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g4.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g5.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g6.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g7.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g8.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g9.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g10.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g11.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g13.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g14.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g15.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g16.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g17.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g18.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g42.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g19.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g20.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g21.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g22.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g23.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g24.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g25.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g26.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g27.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g28.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g29.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g30.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g31.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g32.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g33.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g34.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g36.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g37.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g38.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g39.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g40.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g41.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g43.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g44.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g45.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g46.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g47.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g48.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g49.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g50.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g51.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g52.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g53.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g54.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g55.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g56.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g57.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g58.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g59.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g60.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g61.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g63.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g64.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g65.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g66.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g35.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g68.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g62.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g67.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g69.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g75.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g71.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g72.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g73.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g74.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g70.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g76.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g77.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g78.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g79.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g80.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/81.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g83.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/82.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g84.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g87.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g86.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g85.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g88.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g89.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g104.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g91.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g92.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g93.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g94.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g95.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g96.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g100.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g101.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g102.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g103.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g90.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g105.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g106.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g107.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g108.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g109.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g110.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g111.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g112.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g113.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g120.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g115.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g116.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g117.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g118.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g12.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g119.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g114.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g121.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g122.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g123.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g128.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g125.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g126.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g127.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g124.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g135.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g130.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g131.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g132.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g133.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g134.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/g129.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j15.jpg" alt="portfolio-img" />
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j1.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j2.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j3.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j4.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j10.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j6.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j7.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j8.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j9.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j13.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j11.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j12.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j5.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <!-- Card Image -->
          <img src="assets/gallerie/j14.jpg" alt="portfolio-img" />
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 grid-item marketing business brand">
        <div class="card card-element-hover card-metro-hover">
          <img src="assets/gallerie/g136.jpg" alt="portfolio-img" />
        </div>
      </div>
    </div>
  </div>
</section>
